



html.accessibility-text-medium .text-size-regular {
    font-size: 115%; /* 1.25x larger - 20px base */
}

html.accessibility-medium-large .text-size-medium {
  font-size: 120%; /* 1.25x larger - 20px base */
}

html.accessibility-medium-large .text-size-large {
  font-size: 130%; /* 1.25x larger - 20px base */
}

html.accessibility-text-large .text-size-regular {
    font-size: 125%; /* 1.25x larger - 20px base */
}

html.accessibility-text-large .text-size-medium {
  font-size: 130%; /* 1.25x larger - 20px base */
}

html.accessibility-text-large .text-size-large {
  font-size: 135%; /* 1.25x larger - 20px base */
}


/* Active state for accessibility buttons */
.accessibility_size-option {
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.accessibility_size-option:hover {
  background-color: #FEFFEC;
  color: #006935;
}

.accessibility_size-option:hover * {
  color: #006935 !important;
  transition: color 0.4s ease;
}

.accessibility_size-option.is--active {
  background-color: #FEFFEC;
  color: #006935;
  font-weight: 600;
}

.accessibility_size-option.is--active * {
  color: #006935 !important;
  transition: color 0.4s ease;
}

