
.btn .btn__text {
  transition: color 0.7s cubic-bezier(0.625, 0.05, 0, 1);
}

.btn .btn__circle {
  transition: transform 0.7s cubic-bezier(0.625, 0.05, 0, 1), background-color 0.4s cubic-bezier(0.625, 0.05, 0, 1);
  transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
  background-color: #ee4f9c;
}

.btn:hover .btn__circle {
  transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
}

/* Dark */
.btn[data-theme="dark"] .btn__circle {
  background-color: #ee4f9c;
}

.btn[data-theme="dark"]:hover .btn__text {
  color: #FFFFFF;
}

/* Light */
.btn[data-theme="light"] .btn__bg {
  background-color: #8CFFBB
}

.btn[data-theme="light"] .btn__text {
  color: #006935;
}

.btn[data-theme="light"] .btn__circle {
  background-color: #76f3a9;
}
